* text=auto

*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.css text eol=lf
*.svg text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.example text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.pdf binary
*.mp4 binary
*.pptx binary
*.docx binary
*.db binary
